<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2026. Volodymyr Hryvinskyi. All rights reserved.
 * Author: Volodymyr Hryvinskyi <volodymyr@hryvinskyi.com>
 * GitHub: https://github.com/hryvinskyi
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hryvinskyi" translate="label" sortOrder="500">
            <label>Hryvinskyi</label>
        </tab>
        <section id="hryvinskyi_email_editor" translate="label" sortOrder="30" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Email Template Editor</label>
            <tab>hryvinskyi</tab>
            <resource>Hryvinskyi_EmailTemplateEditor::email_editor</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Email Template Editor</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When enabled, template overrides will be applied to transactional emails and the editor redirect will be active.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
